html {
  height: auto;
}

body {
  font-size: 1.25rem;
  //position: relative;
  color: $defaultfontcol;
  -webkit-font-smoothing: antialiased;
  font-family: 'Freight Text Pro';
  line-height: 1.2;
  background: linear-gradient(#4b535e, #829fb5);
}

body::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  height: 30vw;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/img/body_bg.png');
  background-size: cover;
}
