html {
  height: 100%;
}

body {
  font-size: 1.4375rem;
  //position: relative;
  color: $defaultfontcol;
  -webkit-font-smoothing: antialiased;
  font-family: 'Freight Text Pro';
  line-height: 1.2;
  height: 100%;
  background: linear-gradient(#4b535e, #829fb5);
}

.bg-image {
  position: absolute;
  height: 25vw;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/assets/img/body_bg.png');
  background-size: cover;
}
