.wrapper.about {
  justify-content: space-between;
}

@media screen and (max-width: $breakpoint1) {

  .wrapper.about {
    justify-content: center;
  }

  .sidebar.about {
    margin: 0 auto;
    width: auto;
    padding: 2rem 0;
    border-left: none;
    flex-direction: row;

    img  {
      height: 100%;
      max-width: 50%;
    }
  }
}

@media screen and (max-width: 420px) {

  .sidebar.about {
    flex-direction: column;

    img {
      max-width: 100%;
    }
  }
}
