.wrapper.work {
  margin: 0.9375rem 0;
  flex-direction: row;
}

@media screen and (max-width: 1008px) {

  .wrapper.work {
    justify-content: center;
  }

  .work-tile {

  &:nth-child(4n) {
    margin: 12px 12px 0 0;
   }

}
}

@media screen and (max-width: 534px) {

  .work-tile {
    box-sizing: content-box;
    width: 288px;
    height: 288px;
    margin: 12px 0 0 0;

    &:nth-child(4n) {
      margin: 12px 0 0 0;
     }

}
}
