.wrapper.index {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;  
  flex: 2;
}

.side-wrapper {
  flex: 1;
}


@media screen and (max-width: 1229px) {
  .wrapper.index {
  flex: 2;
  max-width: 968px;
  justify-content: center;
}
}

@media screen and (max-width: $breakpoint1) {
  .wrapper.index {
    flex-direction: row;
  }
}
