.breadcrumb-container {
  padding: 0 1rem;
  width: 100%;
}

.breadcrumb {
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 0.2em;
  max-width: $maxwidth;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.breadcrumb.work {
  padding: 1rem 0 1rem 1rem;
}

@media screen and (max-width: $breakpoint1) {

  .breadcrumb-container {
    padding: 0 1rem;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
  }

  .breadcrumb, .breadcrumb.work {
    padding: 1rem;
    width: 100%;
    max-width: 37.625rem;
  }
}
