footer {
  width: $maxwidth;
  font-family: $secondaryfontfamily;
  border-top: 2px dotted white;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 100%;
  //background-color: $primarybackgroundcol;

}
