.main-header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #57626f;
  height: 120px;
  margin: 0 0 65px 0;
}

.main-header {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;
  width: 100%;
  max-width: $maxwidth;
  padding: 0 1rem;
}

.logo {
  flex: 1;
  margin: 0;
  word-spacing: -0.16666666666666666666666666666667em; // 7px ÷ 42px
  font-family: 'Langdon', 'impact', 'arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;

  a {
    text-decoration: none;
  }

  span {
    display: inline-block;
    transform: translateY(-0.1em);
  }
}

nav {
  font-size: 1rem;
  font-family: $primaryfontfamily;
  //font-weight: bold;
  //text-transform: uppercase;
  color: #fff;  
  margin: 10px 0 0 0px;

  a {
    text-decoration: none;
    color: $navlinkcol;

    &:hover, &.current {
      color: $defaultfontcol;
      //border-top: 1px solid white;
      border-bottom: 2px solid white;
    }
  }

  li {
    padding: 0;
    margin: 0 1rem 0 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
