.main-header-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #57626f;
  height: 120px;
  margin: 0 0 65px 0;
}

.main-header {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;
  width: 100%;
  max-width: $maxwidth;
  padding: 0 1rem;
}

.logo {
  flex: 1;
  margin: 0;
  word-spacing: -0.16666666666666666666666666666667em; // 7px ÷ 42px
  font-family: 'Langdon', 'impact', 'arial', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;

  a {
    text-decoration: none;
  }

  span {
    display: inline-block;
    transform: translateY(-0.1em);
  }
}

nav {
  font-size: 1.2rem;
  font-family: 'Freight Text Pro';
  font-weight: bold;
  //text-transform: uppercase;
  color: #fff;
  margin: 10px 0 0 0;

  a {
    text-decoration: none;
    color: $navlinkcol;

    &:hover {
      color: $defaultfontcol;
      //border-top: 1px dotted white;
      border-bottom: 1px dotted white;
    }
  }

  .current {
     color: $defaultfontcol;
     //border-top: 1px dotted white;
     border-bottom: 1px dotted white;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 0 14px;

    &:last-child {
      padding: 0 0 0 14px;
    }

  }
}
