.page-wrapper {
  padding: 0 1rem;
  min-height: 100%;
  max-width: $maxwidth;
  margin: 1rem auto;
  box-sizing: content-box;
  //margin-bottom: -1rem;
  min-height: 75vh;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: $breakpoint1) {

  .wrapper {
    flex-direction: column;
  }
}
