.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //flex-flow: column-reverse;
  width: 35.20833333333333%;
  //margin: 3rem 0 0 0;
  padding: 1.675rem 1rem 0 1rem;
  border-left: 2px dotted $border-color;
  //border-right: 2px dotted $secondarybordercol;

  img {
    filter: grayscale(1);
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    margin: 0 0 1em 0;
    //border: 2px solid white;
  }

  a {
    margin: 0 auto;
  }

}

.sidebar.about {
  padding: 0rem 1rem 0 1rem;
  justify-content: center;
}

.socialicons {
  margin: 1em auto 1.7em auto;
  justify-content: center;

  img {
    border: none;
    padding: 0;
    margin: 1em;
  }
}

.sidebar-links {
  font-size: 1rem;
  margin: 1em 0 0 0;
  padding: 0 2em;

  a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    border: 1px dashed white;
    font-weight: bold;
    //border-radius: 1em;
    margin: 1em auto 0 auto;
    padding: 0.5em;
    color: white;
    max-width: 13em;

    &:hover {
      background-color: white;
      color: $primarybackgroundcol;
    }
    }

}

.sidebar-posts {
  display: block;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  margin: 1em 0 0 0;

  ol {
    padding: 0 0 0 1em;
  }

  a {
    display: block;
    text-decoration: none;
    margin: 1em 0 0 0;
    padding: 0.5em 0;
    border-bottom: 1px dashed white;

    &.current, &:hover {
      border-bottom: 1px solid white;

    }
  }
}

@media screen and (max-width: $breakpoint1) {

  .sidebar {
    max-width: 37.625rem;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border-left: none;
  }
}
