.textblock {
  width: 64.79166666666667%;
  font-weight: 300;
  padding: 0 1em 0 0.2em;

  img {
    max-width: 100%;
  }

  h3 {
    margin-top: 0;
  }

  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: $breakpoint1) {

.textblock {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 37.625rem;
  width: 100%;
  border-bottom: 2px dotted $border-color;
}

}
