.title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-top: 2px dotted $dottedbordercol;
}

.title.large {
  max-width: 960px;
}

.title.small {
  max-width: 100%;
}

.title-box {
  box-sizing: border-box;
  padding: 0.1875em 0.5em;
  border: 2px dotted $dottedbordercol;
  background-color: #56626f;
  box-shadow: 3px 3px 0px 0px rgba(59,67,76,0.44);
}

.title-box.large {
  margin: -30px auto 0 auto;
}

.title-box.small {
  font-size: 1.625rem;
  margin: -26px auto 0 auto;
}
