.work-tile {
  width: 230px;
  height: 230px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease;
  border: 1px dotted #1b2133;
  background: $primarybackgroundcol;
  text-decoration: none;
  background: radial-gradient(ellipse at center, #3f486d 0%, #252c46 100%);

  &:hover {
    background: radial-gradient(ellipse at center, #505c8b 0%, #252c46 100%);
  }

  &:nth-child(4), &:nth-child(7) {
    margin-left: 0;
  }

  .title-box-small {
    border-color: $border-color;
  }

  h2 {
    @include secondaryfontfamily();
    margin: 0;
    display: inline;
    font-weight: bold;
  }

  img {
    display: block;
    filter: grayscale(1);
    max-width: 100%;
    height: auto;
    opacity: 0.1;
  }

  p {
    font-size: 1rem;
    text-align: left;
    }
}

.work-tile + * {
  margin-left: 12px;
}

.work-tile.alternate {
  display: flex;
  align-items: center;
  border: none;
  background: darken($primarybackgroundcol, 2);

  a {
    display: inline;
  }

  &.intro {
    clip-path: polygon(20% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
  }

  &.blog {
    width: auto;
    border: 1px dotted #1b2133;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    //transform: translateX(242px);
    height: auto;

    h2 {
      font-size: 1.3125rem;
      margin: 0 0 1rem 0;
      padding: 1rem 2rem;
      width: 100%;
      background-color: $primarybackgroundcol;
    }
  }
}

.work-tile-inner {
  padding: 0 2rem;
}

.work-tile-inner.blog {
  display: flex;
  align-items: center;
  max-width: 100%;

  &:last-child {
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    //border-bottom: 1px solid white;
  }
}

.blog-date {
  display: inline;
  text-align: center;
  margin-right: 12px;
  background-color: $primarybackgroundcol;
  padding: 0.8em 1em;
  flex: 0 0 auto;
  color: #e5eda7;

  span {
    display: block;
  }

}


@media screen and (max-width: 1229px) {
  .work-tile.alternate.blog {
    width: 956px;
  }

  .work-tile:nth-child(4n), .work-tile:nth-child(7) {
    margin-left: 12px;
  }

  .work-tile:nth-child(5) {
    margin-left: 0;
  }
}

@media screen and (max-width: 987px) {

  .work-tile.alternate.blog {
    width: 714px;
  }

  .work-tile:nth-child(4), .work-tile:nth-child(7) {
    margin-left: 0;
  }

  .work-tile:nth-child(3n) {
    margin-right: 12px;
  }

  .work-tile:nth-child(5) {
    margin-left: 12px;
  }
}

@media screen and (max-width: 757px) {

  .work-tile.alternate.blog {
    width: 472px;
  }

  .work-tile:nth-child(3), .work-tile:nth-child(4) {
    margin-right: 12px;
  }

}


@media screen and (max-width: 534px) {

  .work-tile {
    width: 288px;
    height: 70px;
    margin: 12px 0 0 0;
    background: $primarybackgroundcol;
    border: none;

    img {
      margin: 0 auto;
      visibility: hidden;
      height: 70px;
      width: 288px;
    }
  }

  .work-tile:nth-child(2n), .work-tile:nth-child(5), .work-tile:nth-child(6) {
    margin-left: 0;
  }

  .work-tile:nth-child(3), .work-tile:nth-child(4), .work-tile:nth-child(6) {
    margin-right: 0;
  }

  .work-tile.alternate.blog {
    width: 288px;
  }

  .work-tile.alternate.intro {
    height: 288px;
    clip-path: polygon(50% 100%, 0 80%, 0 0, 100% 0, 100% 80%);

    p {
      margin-top: 0;
      text-align: center;
    }
  }

}
