.work-tile {
  width: 231px;
  height: 231px;
  margin: 12px 12px 0 0;
  //border: 2px dotted $border-color;
  //border-top: none;
  background-color: $primarybackgroundcol;

  img {
    display: block;
    filter: grayscale(1);
    max-width: 100%;
    height: auto;
    opacity: 0.1;

    &:hover {
      //filter: grayscale(0);
    }
  }

  &:nth-child(4n) {
    margin: 12px 0 0 0;
  }

  &:hover {
    background-color: darken($primarybackgroundcol, 2);
  }

  .work-tile-inner {
    position: relative;
    height: auto;

    p {
      padding: 0 2rem;
      font-size: 1rem;
      text-align: left;
    }
  }
}

.work-tile.intro {
  display: flex;
  align-items: center;
  background-color: darken($primarybackgroundcol, 2);
  clip-path: polygon(20% 0, 0 20%, 0 100%, 100% 100%, 100% 0);
}

@media screen and (max-width: 1008px) {

  .work-tile {
    height: auto;
    width: 30%;

  &:nth-child(4n) {
    margin: 12px 12px 0 0;
   }

   &:nth-child(3n) {
     margin: 12px 0 0 0;
    }

}
}

@media screen and (max-width: $breakpoint1) {

  .work-tile {
    width: 41%;

    &:nth-child(4n) {
      margin: 12px 0 0 0;
    }

    &:nth-child(3n) {
      margin: 12px 12px 0 0;
    }

    &:nth-child(2n) {
      margin: 12px 0 0 0;
    }

}
}

@media screen and (max-width: 534px) {

  .work-tile {
    //box-sizing: content-box;
    width: 288px;
    height: 200px;
    margin: 12px 0 0 0;

    img {
      margin: 0 auto;
      height: 200px;
      width: 200px;
    }

    &:nth-child(4n), &:nth-child(3n), &:nth-child(2n) {
      margin: 12px 0 0 0;
     }
}

  .work-tile.intro {
    height: 288px;
    clip-path: polygon(50% 100%, 0 80%, 0 0, 100% 0, 100% 80%);

    p {
      margin-top: 0;
      text-align: center;
    }
  }


}

@media screen and (max-width: $breakpoint2) {

  .work-tile {

    img {
      max-width: none;
    }
  }
}
