.work-tile {
  width: 231px;
  height: 231px;
  margin: 12px 12px 0 0;
  //background-color: lighten($primarybackgroundcol, 7);
  border: 2px dotted $border-color;

  img {
    max-width: 100%;
    height: auto;
  }

  &:nth-child(4n) {
    margin: 12px 0 0 0;
  }

  &:hover {
    background-color: lighten($primarybackgroundcol, 15)
  }

}

@media screen and (max-width: 534px) {

  .work-tile {
    box-sizing: content-box;
    width: 288px;
    height: 288px;
    margin: 12px 0 0 0;

    &:nth-child(4n) {
      margin: 12px 0 0 0;
     }

}
}

@media screen and (max-width: $breakpoint2) {

  .work-tile {

    img {
      max-width: none;
    }
  }
}
